@import '/node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import '' */


/* // add the code bellow */
@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      *::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      *{
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }


*{
  font-family: 'JetBrains Mono';

}


    .pagination-btn {
        padding: 8px 12px;
        border-radius: 999px;
        background-color: #4a90e2; /* Adjust the color as needed */
        color: #fff;
        text-decoration: none;
        transition: background-color 0.3s;
    }

    .pagination-btn:hover {
        background-color: #4169e1; /* Adjust the hover color as needed */
    }

    .pagination-btn.disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    





  .sidebar-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    text-decoration: none;
    color: #666;
    transition: all 0.3s ease;
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
}

.sidebar-link::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #db5427;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: -1;
}

.sidebar-link:hover::before {
    opacity: 0.1;
}

.sidebar-link:hover {
    background-color: #f3f4f6;
    color: #000;
}

.sidebar-link.active {
    background-color: white;
    color: #cf6721;
    border-left: 3px solid #e1426c;
}

.sidebar-link.active::before {
    opacity: 0.2;
}




